@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title.</h2>


<p>Имоти 24/7 (Imoti247.com) е Македонски веб сајт за недвижнини кој може да биде пристапен од компјутери, паметени телефони и таблети. Имоти 24/7 беше создадена да ги поврзе заинтересираните купувачи на имоти и продавачите и најдобрите агенти и агенции за недвижности заедно. Со цел да се задоволат двете страни на бизнисот, ние направивме повеќе делови на Имоти 24/7, дали кучувачот бара да купи дом, да го стави својот имот на продажба или само истражува нови населби, ние ви ја даваме можноста да бидете видени како ексклузивен експерт за недвижнини во вашиот град.</p>
