@*@model List<OglasnikItProekt.Models.Avtomobil>*@
@model List<OglasnikItProekt.Models.ApplicationDbContext>
<div class="row">
    <div class="col-7">
        @Html.Partial("View")
    </div>
</div>
<br />
<p style="text-align: center" class="text-danger">© Oglasnik.mk 2019</p>






